* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
    
    gap: 10px;
 }
 .container {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 10px;
    transition: all .5s ease-in-out;
 }

 .title {
   color: #f96469;
 }

.title2 {
   color: #64c2f9;
 }

 .title3 {
   color: #f9e864;
 }
 .text {
   font-size: 32px;
   text-align: justify;
   overflow-y: scroll;
 }

 .container:hover {
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
 }

 .image {
      background-image: url(/pexels-cottonbro-studio-4709289.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;  
      border-radius: 8px;  
      border: 2px solid black;
 }

 .text-up {
   position: absolute;
   height: 0;
   background-color: #f9e864;
   transform-origin: bottom;
   transition: all .8s ease-in-out;
   width: 268px;
   overflow: scroll;
   border-radius: 8px;
   border: 2px solid black;
   visibility: hidden;
 }

  .text-up2 {
   position: absolute;
   height: 0;
   background-color: #f96469;
   transform-origin: bottom;
   transition: all .8s ease-in-out;
   width: 268px;
   overflow: scroll;
   border-radius: 8px;
   border: 2px solid black;
   visibility: hidden;
 }

  .text-up3 {
   position: absolute;
   height: 0;
   background-color: #64c2f9;
   transform-origin: bottom;
   transition: all .8s ease-in-out;
   width: 268px;
   overflow: scroll;
   border-radius: 8px;
   border: 2px solid black;
   visibility: hidden;
 }
 

 .text-upbob {
   padding: 1rem;
   font-size: 34px;

   
 }

 #click:checked ~ .text-up {
   height: 369px;
   visibility: visible;
   
   
 }


.click {
   font-size: 100px;
   position: inherit;
}

.pp {
   cursor: crosshair;
}



#click {
   display: none;
   
}

#click2:checked ~ .text-up2 {
   height: 369px;
   visibility: visible;
   
   
 }


.click2 {
   font-size: 100px;
   
}


#click2 {
   display: none;
   
}

#click3:checked ~ .text-up3 {
   height: 369px;
   visibility: visible;
   
   
 }


.click3 {
   font-size: 100px;
   
}


#click3 {
   display: none;
   
}

/* button */


.css-button-sliding-to-top--sky {
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #4433ff;
  color: #4433ff;
  text-align: center;
}
.css-button-sliding-to-top--sky:hover {
  color: #fff;
}
.css-button-sliding-to-top--sky:hover:after {
  height: 100%;
  transition: all .5s ease-in-out;
}
.css-button-sliding-to-top--sky:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #4433ff;
}
 